{% extends 'base.html.twig' %}

{% block title %}Douce Saveur
{% endblock %}

{% block body %}
	<div class="container">
    <div class="" style="background:var(--t500);height:480px;"></div>
    <div class="" style="height:480px;"></div>
    <div class="" style="background:var(--t500);height:480px;"></div>
    <div class="" style="height:480px;"></div>
    </div>
{% endblock %}
