{% extends 'base.html.twig' %}

{% block title %}Douce Saveur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="douce-saveur">
			<div class="douce-saveur__text">
				<h2>Douce Saveur, mon rêve...</h2>
				<p>La boutique "Douce Saveur" a été conçue comme un hommage à la riche tradition française en matière de boulangerie et de pâtisserie, tout en y ajoutant une touche contemporaine. Le décor, un mariage élégant de céramique et de boiserie, vous transporte dans un monde d'authenticité dès que vous franchissez la porte. Idéalement située au cœur de la ville, elle dispose d'une vingtaine de places assises en intérieur et d'une vaste terrasse, offrant une expérience de dégustation adaptée à toutes les saisons et à toutes les heures de la journée. Depuis son ouverture, "Douce Saveur" a su s'étendre tout en conservant son essence, avec des emplacements aussi divers que l'aéroport Charles de Gaulle et la gare Montparnasse. Chaque nouvelle boutique porte la même promesse : celle de goûter à des créations exceptionnelles, nées de l'expertise et de la passion de Pierre LeFournier et de son équipe dévouée.</p>
			</div>
			<div class="douce-saveur__img--desktop">
				<img class="DouceSaveur" src="{{ asset('build/images/img/DouceSaveur.png') }}" alt="image de la boutique"/>
			</div>
			<div class="douce-saveur__img">
				<img class="DouceSaveur" src="{{ asset('build/images/img/DouceSaveur.png') }}" alt="image de la boutique"/>
			</div>
		</div>
	</div>
{% endblock %}
