<footer class="footer">
	<div class="footer__content">
		<div class="footer__section">
			<h3>Plan du site</h3>
			<a title="À propos de Pierre LeFournier" href="/presentation">À propos de Pierre LeFournier</a>
			<a title="Boulangerie “Douce saveur”" href="/douce_saveur">Boulangerie “Douce saveur”</a>
			<a title="Service traiteur" href="/traiteur">Service traiteur</a>
		</div>
		<div class="footer__section">
			<h3>Informations pratique</h3>
			<h4>Douce Saveur</h4>
			<p>
				Du lundi au samedi
				<br/>
				de 7h à 19h
				<br/>
				Fermé le dimanche
			</p>
			<a href="#Offre_de_stage">Offre de stage</a>
		</div>
		<div id="map" class="footer__map"></div>
	</div>
	<p class="footer__copyright">
		© 2023 Pierre LeFournier | Tout droit réservé.
	</p>
</footer>
