{% extends 'base.html.twig' %}

{% block title %}New OffreDeStage{% endblock %}

{% block body %}
    <h1>Create new OffreDeStage</h1>

    {{ include('offre_de_stage/_form.html.twig') }}

    <a href="{{ path('app_offre_de_stage_index') }}">back to list</a>
{% endblock %}
