{% extends 'base.html.twig' %}

{% block title %}Traiteur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="traiteur">
			<div class="traiteur__text">
				<h2>Traiteur à votre service</h2>
				<p>Spécialiste reconnu dans le monde de la boulangerie et de la pâtisserie, Pierre LeFournier étend son savoir-faire à l'univers du traiteur. Fort de son expérience et de sa passion pour l'artisanat, il a développé une gamme de services de traiteur qui rehaussera chaque occasion, qu'il s'agisse d'un petit dîner entre amis ou d'un grand événement corporatif. Son attention aux détails, son goût pour les ingrédients de haute qualité et sa capacité à fusionner les saveurs traditionnelles et modernes se traduisent en un menu conçu sur mesure pour vous. Pierre LeFournier et son équipe s'engagent à vous offrir une expérience gastronomique hors pair, mariant l'excellence culinaire à un service irréprochable. Avec Pierre à la barre, votre événement est entre de bonnes mains.</p>
			</div>
			<div class="traiteur__img--desktop">
				<img src="{{ asset('build/images/img/traiteur.png') }}" alt="Image d'un buffet"/>
			</div>
			<div class="traiteur__img">
				<img src="{{ asset('build/images/img/traiteur.png') }}" alt="Image d'un buffet"/>
			</div>
		</div>
		<div class="form">
			<h2>Formulaire de devis</h2>
			{{ include('dynamic/_formDevis.html.twig') }}
		</div>
	</div>
{% endblock %}
