<!DOCTYPE html>
<html lang="fr"{% block html_class %}{% endblock %}>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Pierre LeFournier</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="apple-touch-icon" sizes="180x180" href="/build/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/build/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/build/styles/favicon/favicon-16x16.png" />
        <link rel="manifest" href={{ asset('build/images/site.webmanifest') }} />
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
