{% extends 'base.html.twig' %}

{% block title %}Traiteur{% endblock %}

{% block body %}
    <div class="container">
    <h2>Traiteur</h2>
    {{ include('traiteur/_form.html.twig') }}
    </div>
{% endblock %}
