.insta {
    background: palegoldenrod;
    height: 500px;
    padding: 16px 48px;
    &__header {
        gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-weight: 500;
        }
    }

}