.card {
    border: solid 1px var(--primaire);
    padding: 8px;
    width: 272px;

    &__title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__tags {
        display: flex;
        align-items: baseline;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__tag {
        background: var(--t500);
        display: flex;
        padding: 4px 2px 0 2px;
        p {
            line-height: auto;
        }
    }

    &__description {
        margin-top: 8px;
    }

    &__btn {
        padding-left: 0;
        &:hover {
            padding-left: 0;
        }
    }
}